.parallax {
  /* The image used */
  background-image: url("/images/mountains.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 1000px) {
  .bio-container {
    display: flex;
  }
  .bio {
    width: 75%;
  }
  .bio-image {
    margin-left: 5rem;
    display: flex;
    align-items: center;
  }
}
